body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: monospace;
  line-height: 1.4em;
  font-size: 16px;
  background: #000000;
  font-family: monospace;
}



.blink {
  animation: blink-animation .7s steps(5, start) infinite;
  -webkit-animation: blink-animation .7s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 55vw;
  text-align: center;
  z-index: 9999;
  background-color: #00000033;
  padding: 12px 24px;
  line-height: 1.6;
  /* or try 1.7 for even more space */
  transform: translateY(-50%);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  /* Responsive, larger text */
}

.user {
  padding: 4vw 0vw;
  color: #fff !important;
  /* Bluish */
  text-shadow:
    0 0 .05vw #fff,
    0 0 .1vw #fff,
    0 0 .4vw #fff,
    0 0 .9vw #f09,
    0 0 1.3vw #f09,
    0 0 2.0vw #f09,
    0 0 3.0vw #f09,
    0 0 4.0vw #f09;
}

.complete {
  padding: 4vw 0vw;
  color: #fff !important;
  /* Bluish */
  text-shadow:
    0 0 .05vw #fff,
    0 0 .1vw #fff,
    0 0 .4vw #fff,
    0 0 .9vw #0fa,
    0 0 1.3vw #0fa,
    0 0 2.0vw #0fa,
    0 0 3.0vw #0fa,
    0 0 4.0vw #0fa;
}

.assistant {
  color: #fff !important;
  /* White */
  text-shadow:
    0 0 .01vw #fff,
    0 0 .6vw #fff,
    0 0 1.0vw #fff,
    0 0 2.0vw #0aff,
    0 0 3.0vw #0aff,
    0 0 4.0vw #0aff,
    0 0 .0vw #0aff,
    0 0 10.0vw #0aff;
}


.function {
  color: rgb(249, 230, 230);
}

.system {
  color: rgb(84, 161, 255);
  font-size: 1.8vw;
}

.assistant {
  color: rgb(255, 241, 173);
}

.error {
  color: rgb(255, 255, 0);
  font-size: 1.8vw;
}

/* Define the styles for the microphone circle */
#commandline .mic-circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 2px;

}

#commandline .mic-circle::before {
  /* 
    content: '\1F3A4'; // Unicode for microphone symbol 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: white;
    */
}

#commandline .mic-circle.green {
  background-color: rgb(0, 255, 0);
  animation: pulse 1.5s linear infinite;
}

#commandline .mic-circle.red {
  background-color: rgb(255, 0, 0);
  animation: blink 1s steps(5, start) infinite;
}


@keyframes pulse {
  15% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.2;
  }

  85% {
    opacity: 0.8;
  }
}


@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1.5s ease-out forwards;
}

/* Ensure divs are visible by default */
.dialog div {
  opacity: 1;
  transition: opacity 1.5s ease-out;
}